{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Add new movie to database!</h1>
    <form method="POST">
        <div class="row">
            {{form.hidden_tag()}}
            <div class="col">
                {{form.title.label}}{{form.title(class='form-control', placeholder='Title...')}}
            </div>
            <div class="col">
                {{form.premiere.label}}{{form.premiere(class='form-control')}}
            </div>
        </div>

        <div class="row"><div class="dropdown-divider"></div></div>
        {{form.submit(class='btn btn-primary mb-2')}}
    </form>
</div>
{% endblock %}