{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <p class="h1">Remove movie.</p>
        <p class="h5">Which movie you would like to remove?</p>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.submit()}}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date of premiere</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in movies.items() %}
                    <tr>
                    <td>{{ value[1] }}</td>
                    <td>{{ value[2] }}</td>
                    <td>{{ value[3] }}</td>
                    <td><button type="submit" class="btn btn-outline-danger" name="delete" value="{{ value[0] }}">REMOVE</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </form>
    </div>
{% endblock %}