{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>List of movies:</h1>
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date of premiere</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in movies.items() %}
        <tr>
          <td>{{ value[1] }}</td>
          <td>{{ value[2] }}</td>
          <td>{{ value[3] }}</td>
          <td>
              {% for i in range(value[4]) %}
                <img src="/static/star-yellow-small.png">
              {% endfor %}
              {% for i in range(5-value[4]) %}
                <img src="/static/star-black-small.png">
              {% endfor %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}